[Unit]
Description=Seaweed Master
After=network.target

[Service]
Type=simple
Restart=on-failure
User=root
ExecStart= /usr/local/bin/weed mount -filer={MasterHost}:8888 -dir={LocalPath} -filer.path=/
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target